@model List<UserDto>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">E-posta</th>
            <th scope="col">Telefon Numarası</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.SurName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination -->
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("CustomerIndex", new { pageSize = ViewBag.PageSize, pageNumber = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

