@model IEnumerable<CategoriesDto>


<div class="container my-5">
    @if (!string.IsNullOrEmpty(TempData["success"] as string))
    {
        <div id="errorAlert" class="alert alert-danger" role="alert">
            @TempData["success"]
        </div>
    }

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Category List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="CategoryCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Category</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-success" asp-action="CategoryEdit" asp-route-categoryid="@item.CategoryId">Update</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" asp-action="CategoryDelete" asp-route-categoryId="@item.CategoryId">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Pagination -->
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("CategoryIndex", new { pageSize = ViewBag.PageSize, pageNumber = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>


@section Scripts {
    <script>
        setTimeout(function () {
            var errorAlert = document.getElementById('errorAlert');
            if (errorAlert) {
                errorAlert.remove();
            }
        }, 3000);
    </script>
}